<header id="page-header">
  <nav><a href="#"><img src="/assets/home_icon.png"></a></nav>
  <h1>New Transaction</h1>
</header>
<%= form_with model: @new_transac do |f| %>
  <div class="field">
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.collection_select :group_id, @user_groups, :id, :name %>
  </div>
  <%= f.hidden_field :author_id, value: current_user.id %>
  <div class="field">
    <%= f.submit "Add Transaction" %>
  </div>
<% end %>