<header id="page-header">
  <nav><a href="<%= groups_path %>"><img src="/assets/home_icon.png"></a></nav>
  <h1>New Category</h1>
  <%= button_to image_tag("exit.png"), destroy_user_session_path, method: :delete, class: "butt-icon" %>
</header>
<%= form_with model: @new_group do |f| %>
  <div class="field">
    <%= f.text_field :name, placeholder: "Name" %>
  </div>

  <div class="field">
    <%= f.text_field :icon, placeholder: "Icon URL" %>
  </div>
  
  <%= f.hidden_field :user_id, value: current_user.id %>
  
  <div class="field">
    <%= f.submit "CREATE", class: "bttn" %>
  </div>
<% end %>